{% extends "layout.html"%}
{%block content %}
<h2>Check your results</h2>


<form action="/submit" method='post'>
  <fieldset>
    <legend>Fieldset example</legend>
    <div class="mb-3">
      <label for="science" class="form-label">Science:</label>
      <input type="text" id="science" name="science" class="form-control" placeholder="0">
    </div>

    <div class="mb-3">
      <label for="maths" class="form-label">Science:</label>
      <input type="text" id="maths" name="maths" class="form-control" placeholder="0">
    </div>

    <div class="mb-3">
      <label for="c" class="form-label">C:</label>
      <input type="text" id="c" name="c" class="form-control" placeholder="0">
    </div>

    <div class="mb-3">
      <label for="datascience" class="form-label">datascience:</label>
      <input type="text" id="datascience" name="datascience" class="form-control" placeholder="0">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

<!-- 
<form action="/submit" method='post'>
  <label for="Science">Science:</label><br>
  <input type="text" id="science" name="science" value="0"><br>
  <label for="Maths">Maths:</label><br>
  <input type="text" id="maths" name="maths" value="0"><br><br>
  <label for="C ">C:</label><br>
  <input type="text" id="c" name="c" value="0"><br><br>
  <label for="datascience">Data Science:</label><br>
  <input type="text" id="datascience" name="datascience" value="0"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
-->
{%endblock content%}